@import './normalize.css';

body {
    box-sizing: border-box;
    background-color: lightgray;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 16px;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 100vh;
    position: relative;
    color: white;

    &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        background: {
            image: url('/images/pexels-photo-169573.jpeg');
            position: center;
            repeat: no-repeat;
            size: cover;
        }

        filter: brightness(.7) blur(1px);
    }

    &__title-wrapper {
        text-align: center;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__button {
        position: absolute;
        bottom: 16px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    background-color: rgba(0, 0, 0, .8);

    &__container {
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__list {
        list-style-type: none;
        padding: 0;
    }

    &__item {
        display: inline-block;

        &-link {
            color: #fff;
            text-decoration: none;
        }
    }
}

.about {
    &__container {
        display: flex;
        background-color: white;
    }

    &__photo {
        display: block;
        width: 100%;
        object-fit: cover;

        &-wrapper {
            flex: 1;
        }
    }

    &__info {
        flex: 2;
    }
}

.skills {
    &__container {
        background-color: white;
    }
    &__list {
        width: 100%;
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        flex: 1;
        height: 100px;
        background: {
            repeat: no-repeat;
            position: center;
            size: contain;
        }
        &.html {
            background-image: url("../images/HTML5_Logo.svg");
        }
        &.css {
            background-image: url("../images/CSS3_logo_and_wordmark.svg");
        }
        &.js {
            background-image: url("../images/Unofficial_JavaScript_logo_2.svg");
        }
        &.rwd {
            background-image: url("../images/512px-Responsive_Web_Design_Logo.svg.png");
        }
        &.bootstrap {
            background-image: url("../images/Boostrap_logo.svg.png");
        }
        &.git {
            background-image: url("../images/Git-Logo-2Color.png");
        }
        &.sass {
            background-image: url("../images/sass-logo/Sass\ Logo\ -\ Seal\ \(Color\).eps");
        }
        &.react {
            background-image: url("../images/1024px-React-icon.svg.png");
        }
    }

    &__logo {
        padding: 8px;
        width: 100%;
        display: block;
        height: 100%;
    }
}

.projects {
    &__container {
        background-color: white;
    }
    &__list {
        width: 100%;
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &__item {
        width: calc(50% - 16px);
        padding: 8px;
    }
}
.contact {
    &__container {
        background-color: white;
    }
    &__link {
        text-decoration: none;
        color: black;
        display: inline-block;
        font-size: 32px;
    }
}
.footer {
    text-align: center;
    background-color: black;
    color: white;
}